#canvas
{
    background-color:#30c0df;
    border: 2px solid black;
    display: block;
    margin: auto;
    padding: auto;
    
}
.hidden{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(58, 199, 72);
    padding: 10px 20px;
    border-radius: 5px;
}